<template name="layout">
  <header class="dapp-header">
    <nav>
    <ul>
      <li class="block-info dapp-flex-item">        
        <span> 
          <img class="logosize" src="favicon.ico" /> Globoforce deployables
        </span>
      </li>

      {{#if currentUser}}
      <li class="block-info dapp-flex-item">
        <i class="icon-layers"></i>
        <span> 
          <a href="/" class="{{isActiveRoute regex='send'}}">Facts</a>
        </span>
      </li>
      <li class="block-info dapp-flex-item">
        <i class="icon-docs"></i>
        <span> 
          <a href="/servers" class="{{isActiveRoute regex='send'}}"> Servers</a>
        </span>
      </li>
      {{/if}}
      <li class="block-info dapp-flex-item">        
        <span> 
          {{> loginButtons}}
        </span>
      </li>

    </ul>
  </nav>
  </header>    
 
  <div class="dapp-flex-content">
    <main class="dapp-content">
    {{> yield}}
    </main>
  </div>  

</template>
