<template name="nameVal">  

    {{#if isEditingNameVal}}     
      <form class="update-nameval"> 
      	<label for="name">{{name}}</label>
        <input name="newVal" type="text" value="{{value}}">
        <input name="servername" type="hidden" value="{{servername}}">
        <input name="name" type="hidden" value="{{name}}">
        <button type="submit">Submit</button>
        <a class="cancel" href="#">Cancel</a>
      </form>
    {{else}}
    <div>
      {{name}} : {{value}}
      <a href="#" class="edit">edit</a> 
      <a href="#" class="remove"> (x)</a>
	</div>      
    {{/if}}

</template>
