<template name="server">
  <li>
    {{#if isEditingServer}}
      <form class="form-edit"> 
        <input name="name" type="text" value="{{name}}">
        <button type="submit">Submit</button>
        <a class="cancel" href="#">Cancel</a>
      </form>
    {{else}}
      {{name}} 
      <a href="#" class="edit">edit</a> 
      <a href="#" class="remove"> (x)</a>
    {{/if}}
    <div>
    Name Value
  </div>
    {{#each nameVals}}      
      {{nameVals.[0]}} {{nameVals.[1]}}
      {{this.[0]}}
      {{this.[1]}}
      {{> nameVal}}
    {{/each}}
  </li>
</template>
